/************ Basic settings *************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility; 
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1
}

/**************************
****** GENERAL STYLE ******
***************************/

/********* Colors *********/ 
/*
yellow: #e3c252;
lightblue: #3d56ed;
darkblue: #150166;
lightyellow - section bg: #f5f2ea;
*/

h2 {
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2, h3 {text-align: center;}

h2:after {
    display: block;
    content: "";
    width: 100px;
    height: 4px;
    background: #150166;
    margin: 30px auto 80px;

}

.btns {
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    background-color: #e3c252;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s;
}

.btns.light {
    background-color: #3d56ed;
}

.btns.dark {
   background-color:  #150166;
}

.btns:hover {
    color: #3d56ed;
}

.btns.dark:hover {
    color: #e3c252;
}

.btns-box {
    margin-top: 70px;
    text-align: center;
}

a:hover {text-decoration: none;}

section {padding: 80px 0;}

/***************************
********** HEADER **********
****************************/

header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(img/header-background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    background: #150166;
    width: 100px;
    font-size: 220%;
}

.logo a {color: #fff;}

.menu {margin: 0;}

.menu li {
    float: left;
    padding-top: 22px;
}

.menu li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    transition: all 0.5s;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}

.menu li a:hover {
    border-bottom: 2px solid #e3c252;
    color: #e3c252;
}

.header-text {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    /*background-color: rgba(51,102,153, 0.5);*/
    padding: 20px 0;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 234%;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.btns-box a:first-child {margin-right: 20px;}

/***************************
*** SECTION - WHO-WE-ARE ***
****************************/
.who-we-are {
    padding-top: 80px;
    background-color: #f5f2ea;
}
.pic {padding-top: 10px;}

.pic img {
    width: 100%;
    height: auto;
    display: block;
}

.intro-text {
    padding-left: 30px;
}

.intro-text p {
    text-align: justify;
}

/**************************
*** SECTION - PRODUCTS ****
***************************/

.products {
    padding-top: 80px;
    background-color: #f5f2ea;
}

.product-box {
    padding-bottom: 50px;
}

.product-box:last-child {padding-bottom: 0;}

.product-box i {
    display: inline-block;
    font-size: 250%;
    color: #3d56ed;
}

.product-box p {
    float: right;
    width: 78%;
    font-weight: 700;
}

/*****************************
***** SECTION - ASK-OFFER ****
******************************/

.ask-offer {
    background-color: #3d56ed;
    padding-top: 80px;
}

.ask-offer h3 {color: #fff;}

.ask-offer .btns {margin-top: 25px;}

/******************************
****** SECTION - SERVICES *****
*******************************/

.services {
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4)),url(img/services-background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.services h2:after {
    background-color: #e3c252;
    margin-bottom: 50px;
}

.services h3 {margin-bottom: 25px;}

.services p {text-align: justify;}


/*********************************
******** SECTION - CONTACTS ******
**********************************/

.contacts {
  padding: 80px 0 60px;
  background-color: #3d56ed;
}

.icon-text {
    width: 60%;
    float: right;
    color: #fff;
}

.icon-text h4 {
    font-weight: 700;
}

.icon-box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}

.icon-box i {
    color: #3d56ed;
    font-size: 180%;
    transition: all 0.8s;
}

.icon-box:hover i {
    transform: rotate(360deg) scale(1.5);
}

/**************************************
*********** SECTION - MAP *************
***************************************/

.map {
    padding: 0;
    margin-bottom: -7px;
}

/***************************************
******** SECTION - GET-IN-TOUCH ********
****************************************/

.get-in-touch {background-color: #f5f2ea;}

.get-in-touch input[type='text'],
.get-in-touch input[type='email'],
.get-in-touch textarea {
    background-color: #f5f2ea;
    border: 3px solid #150166;
    padding: 10px;
}

.get-in-touch input[type='text'],
.get-in-touch input[type='email'] {
    width: 49%;
}

.get-in-touch textarea {
    width: 99%;
    height: 10rem;
    margin: 1.5rem 0;
}

.get-in-touch input[type='submit'] {
    cursor: pointer;
}

/***************************************
*************** FOOTER *****************
****************************************/
footer {background-color: #150166;}















